bitarray==3.7.1
bitstring==4.3.1
cffi==2.0.0
click==8.1.8
colorama==0.4.6
cryptography==46.0.1
ecdsa==0.19.1
esptool==5.0.1
intelhex==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
pycparser==2.23
Pygments==2.19.2
pyserial==3.5
PyYAML==6.0.3
reedsolo==1.7.0
rich==14.1.0
rich-click==1.9.1
six==1.17.0
